@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Raleway", sans-serif;
}
.head {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background: #141414;
	position: fixed;
	top: 0;
	height: 35px;
	z-index: 100;
}
.logo {
	text-decoration: none;
}
.logo a img {
	max-width: 9%;
	position: absolute;
	left: 10px;
	top: 10px;
}
nav {
	display: flex;
	justify-content: flex-end;
}

label {
	display: none;
}

nav li {
	display: inline;
}

#nav-button {
	display: none;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 0px 10px;
}
nav a:hover {
	color: #bbbbbb;
	transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 736px) and (orientation: portrait) {
	nav {
		align-items: center;
	}
	.head {
		justify-content: space-between;
		padding-right: 1rem;
	}
	.logo a img {
		max-width: 34%;
	}
	nav ul {
		position: absolute;
		top: 34px;
		right: 0;
		width: 100%;
		background: #1f1f1f;
		max-height: 0;
		transition: max-height 0.15s ease-out;
		overflow: hidden;
		transition: all 1s ease-in-out;
	}

	nav li {
		display: block;
		width: 100%;
		padding: 5px;
	}

	label {
		display: block;
		padding: 0px 10px;
		font-size: 30px;
		cursor: pointer;
		color: white;
	}

	label:hover {
		color: white;
	}

	nav a {
		width: 100%;
		display: block;
	}

	#nav-button:checked ~ ul {
		max-height: 540px;
		transition: all 1s ease-in-out;
	}

	nav li:hover {
		background: darkpurple;
	}
}

/* Hero section */

#hero {
	display: grid;
	height: 70vh;
	grid-template-columns: repeat(2, 1fr);
}

.hero_image{
	background-image: url("./brochure-images/brochure-images/cover.jpeg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.hero_info{
	background:#f1f2f3;
	width: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.hero_info picture img {
	width: 50%;
	background:blue
}
#hero .hero_info h2 {
	color: black;
	font-size: 1rem;
	margin-bottom: 1rem;
}

#hero .hero_info p {
	color: black;
}
@media only screen and (max-width: 768px) {
#hero{
	grid-template-columns: repeat(1, 1fr);
}
}

/* Service section cards */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	letter-spacing: 2px;
}

h2 {
	font-size: 1rem;
	color: #fff;
	font-weight: bold;
}

p {
	margin-bottom: 1.5em;
	color: #fff;
}

b,
strong {
	font-weight: bold;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.card {
	max-width: 350px;
	height: 361px;
	transition: transform 2s;
	transform-style: preserve-3d;
	cursor: pointer;
	margin: 2em;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.front {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	/* height: 361px; */
	width: 100%;
}

.back {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	height: 361px;
	width: 100%;
}
.front {
	/* height: max-content; */
}
.back {
	background: white;
	transform: rotateY(180deg);
	padding: 1rem;
	font-size: 14px;
	text-align: center;
}

.back h1 {
	font-size: 14px;
}

.back p {
	color: black;
}
/* card  */

h1 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
.card_image {
	height: 180.5px;
}
.card_image img {
	height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.cards_item {
	/* display: flex; */
	/* padding: 1rem; */
}

@media (min-width: 40rem) {
	.cards_item {
		width: 100%;
		max-height: 100%;
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.card {
		flex: 0 1 calc(50% - 1em);
	}
}

@media screen and (min-width: 60em) {
	.card {
		flex: 0 1 calc(25% - 1em);
	}
}
@media (min-width: 56rem) {
	.cards_item {
		width: 100%;
		max-height: 100%;
	}
}

.crd {
	background-color: white;
	border-radius: 0.25rem;
	flex: 0 1 24%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card_content {
	padding: 1rem;
	background: #141414;
	height: 180.5px;
}

.card_title {
	color: #ffffff;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
}

.card_text {
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
	font-weight: 400;
}
.card_text ul {
	padding-left: 1rem;
}

/* Contact section */

.contact {
	max-width: 81%;
	height: 650px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	-webkit-box-shadow: 0px 0px 10px #c8c7d9;
	box-shadow: 0px 0px 10px #c8c7d9;
}

.contact .contact-form {
	background: #f8f8f8;
	width: 100%;
	height: 647px;
}
.contact .contact-form form {
	width: 100%;
}
.contact .contact-form .title {
	font-size: 2.5em;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	color: #242424;
	margin: 5% 8%;
}

.contact .contact-form .subtitle {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0 4% 5% 8%;
}

.contact .contact-form input,
.contact .contact-form textarea {
	width: 330px;
	padding: 3%;
	margin: 2% 8%;
	color: #242424;
	border: 1px solid #b7b7b7;
}

.contact .contact-form input::-webkit-input-placeholder,
.contact .contact-form textarea::-webkit-input-placeholder {
	color: #242424;
}

.contact .contact-form input:-ms-input-placeholder,
.contact .contact-form textarea:-ms-input-placeholder {
	color: #242424;
}

.contact .contact-form input::-ms-input-placeholder,
.contact .contact-form textarea::-ms-input-placeholder {
	color: #242424;
}

.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
	color: #242424;
}

.contact .contact-form .btn-send {
	background: #a383c9;
	width: 180px;
	height: 60px;
	color: #f8f8f8;
	font-weight: 700;
	margin: 2% 8%;
	border: none;
}
.btn-send:hover {
	background: #6d479b;
}
@media all and (max-width: 480px) {
	.contact .contact-form input,
	.contact .contact-form textarea {
		width: 84%;
	}
}
